# Exclude problematic files and folders for Git on Windows
Phone Link/
~*.docx
~*.tmp
*.crdownload
*.msi
*.zip
*.exe
*.mp3
*.mp4
*.gdoc
*.url
*.bat
*.ps1
*.ini
*.lnk
*.pdf
*.xls
*.xlsx
*.CSV
*.ics
*.jpg
*.jpeg
*.gif
*.png
*.tar
*.7z
*.rar
*.bin
*.dat
*.tmp
*.bak
*.log
*.txt
*.html
*.md
*.json
*.xml
*.py
*.js
*.css
*.code-workspace
.vscode/
