# Exclude problematic files and folders for Git on Windows
Phone Link/
~*.docx
~*.tmp
*.crdownload
*.msi
*.zip
*.exe
*.mp3
*.mp4
*.gdoc
*.url
*.bat
*.ps1
*.ini
*.lnk
*.pdf
*.xls
*.xlsx
*.CSV
*.ics
*.jpg
*.jpeg
*.gif
*.png
*.tar
*.7z
*.rar
*.bin
*.dat
*.tmp
*.bak
*.log
*.txt
*.html
*.md
*.json
*.xml
*.py
*.js
*.css
*.code-workspace
.vscode/

# Exclude files too large for GitHub
iCloudExtract/iCloud Photos from Blake Voorhees/IMG_6714.MOV
iCloudExtract/iCloud Photos from Blake Voorhees/IMG_6715.MOV
iCloudExtract/iCloud Photos from Blake Voorhees/IMG_6721.MOV
iCloudExtract/iCloud Photos from Blake Voorhees/IMG_6725.MOV
Unpacking_Irregularities__Washington_State_s_Legal_&_Regulatory_Systems_Under_the_Microscope.m4a
